@model FinanceCentral.Models.Expenses

@{
    ViewBag.Title = "GetData";
}


<script src="~/Scripts/Chart/exporting.js"></script>
<script src="~/Scripts/Chart/highcharts.js"></script>

<div class="jumbotron">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>

<script>
    $(document).ready(function () {
        $.getJSON("ExpensesVisualization/GetData", function (data) {

            Highcharts.Chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Gender Ratio'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'January',
                        y: data.januaryExpenses
                    }, {
                        name: 'February',
                        y: data.februaryExpenses
                    }, {
                        name: 'March',
                        y: data.marchExpenses
                    }, {
                        name: 'April',
                        y: data.aprilExpenses
                    }]
                }]
            });
        });
    });


</script>

