@{
    ViewBag.Title = "home";
}
<!DOCTYPE html>
<head>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="homepage">
        <div class="titleBorder">
            <h1>finance central<span class="dollarSign">.</span></h1>
            <p class="lead">A financial management web application for college students.</p>
        </div>
        

        <div class="contentBox">
            <div class="income">
                <img src="~/img/money-bag.png" />
                <p>Keep track of your income sources</p>
            </div>

            <div class="expenses">
                <img src="~/img/1280px-Walmart_logo.svg.png" />
                <p>Categorize your expenses</p>
            </div>

            <div class="finAid">
                <img src="~/img/fafsa.png" />
                <p>View your financial aid</p>
            </div>

            <div class="goals">
                <img src="~/img/goals.png" />
                <p>Create saving goals</p>
            </div>

            <div class="visual">
                <img src="~/img/chart.svg" />
                <p>View a visual representation <br /> of the percentage of money <br /> spent each month</p>
            </div>
        </div>
    </div>
</body>

