@{
    ViewBag.Title = "home";
}
<!DOCTYPE html>
<head>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="homepage">
        <h1>finance central<span class="colorDot">.</span></h1>
        <p class="lead">a financial management web application for college students</p>

        <div class="contentBox">
            <div class="income">
                <img src="~/img/money-bag.png" />
                <p>keep track of your income sources</p>
            </div>

            <div class="expenses">
                <img src="~/img/1280px-Walmart_logo.svg.png" />
                <p>categorize your expenses</p>
            </div>

            <div class="finAid">
                <img src="~/img/fafsa.png" />
                <p>view your financial aid</p>
            </div>

            <div class="goals">
                <img src="~/img/goals.png" />
                <p>create saving goals</p>
            </div>

            <div class="visual">
                <img src="~/img/chart.svg" />
                <p>view a visual representation <br /> of the percentage of money <br /> spent each month</p>
            </div>
        </div>
    </div>
</body>

