@{
    ViewBag.Title = "home";
}
<!DOCTYPE html>
<head>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div>
        <h1>finance central.</h1>
        <p class="lead">A financial management web application for college students.</p>
        <p>Categorize your expenses</p>
        <p>Keep track of your income sources</p>
        <p>View your financial aid</p>
        <p>Create saving goals</p>
        <p>View a visual representation of the <br/> percentage of money spent each month</p>
    </div>
</body>

