@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<head>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div>
        <h1>Finance Central</h1>
        <p class="lead">A financial management web application targeting college students.</p>
    </div>
</body>

