body, h1, h2, h3, th, td {
    color: rgb(67, 67, 72);
}

    div.container, div.body-content {
        padding-left: 170px;
    }

    h1 {
        color: rgb(67, 67, 72);
        font-weight: bold;
    }

h2.title {
    border-bottom: 2px solid #ffdf74;
    padding-bottom: 15px;
}

    nav {
        height: 100%;
        background-color: rgb(67, 67, 72);
        overflow-x: hidden;
        width: 300px;
        position: fixed;
        top: 0;
        padding: 25px;
        text-align: center;
    
    }

    .highlighted {
        color: #ffdf74;
        text-decoration: none;
        border: 3px solid #ffdf74;
        border-radius: 5px;
        padding: 5px;
    }

    img.logo{
        width: 100px;
        height: 100px;
        display: inline-block;
    }

    nav ul {
        list-style: none;
        text-decoration: none;
        padding-top: 55px;
    }

    nav ul li {
        display: block;
        padding-right: 40px;
        padding-bottom: 30px;
    }

    nav ul li a {
        font-size: 25px;
        /*color: white;*/
        color: #ffdf74;
        font-weight: bold;
    }

nav a:hover {
    color: #ffdf74;
    text-decoration: none;
    border: 3px solid #ffdf74;
    border-radius: 5px;
    padding: 5px;
}

    footer {
        /*color: white;*/
    }