body, h1, h2, h3, th, td {
    color: rgb(67, 67, 72);
}

    div.container, div.body-content {
        padding-left: 175px;
    }

    h1 {
        color: rgb(67, 67, 72);
        font-weight: bold;
    }

h2.title {
    border-bottom: 2px solid #ffdf74;
    padding-bottom: 15px;
}

nav {
    height: 100%;
    background-color: rgb(67, 67, 72);
    overflow-x: hidden;
    width: 305px;
    position: fixed;
    top: 0;
    padding: 25px;
    text-align: center;
    border-right: 3px solid #ffdf74;
}

    img.logo{
        width: 100px;
        height: 100px;
        display: inline-block;
    }

    nav ul {
        list-style: none;
        text-decoration: none;
        padding-top: 55px;
    }

    nav ul li {
        display: block;
        padding-right: 40px;
        padding-bottom: 30px;
    }

        nav ul li a {
            font-size: 25px;
            color: #ffdf74;
            font-weight: bold;
            -webkit-transition-duration: 0.35s; /* For Safari */
            transition-duration: 0.35s;
        }

nav a:hover {
    text-decoration: none;
    border: 2px solid #ffc100;
    border-radius: 2px;
    padding: 10px;
    color: #ffdf74;
}

/*p a {
    color: rgb(67, 67, 72);
    font-weight: bold;
}

    p a:hover {
        color: rgb(67, 67, 72);
        border: 1px solid rgb(67, 67, 72);
        text-decoration: none;
    }*/

h3 {
    background-color: #ffdf74;
    font-weight: bold;
    overflow: hidden;
    margin: 0px;
    padding: 10px;
}

th {
    background-color: rgb(67, 67, 72);
    color: white;
    font-weight: normal;
}